:root {
    --banco-principal:#FFFFFF;
    --cinza-secundario: #cococo;
    --botao-azul:#167BF7;
    --cor-de-fundo #00030C;;
}

body { font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

background stop-color:var(--cor-de-fundo);
color:var(--branco-principal);
}

*{
    margin: 0;
    padding: 0;
}